# Copyright (c) 2023 SolarWinds, LLC.
# All rights reserved.

name: Ruby Gem to Github Package

on:
  workflow_dispatch:

# jobs:
#   build:
#     name: Build + Publish to Github Package
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@v5

#       - name: Set up Ruby 3.1 and bundle
#         uses: ruby/setup-ruby@v1
#         with:
#           ruby-version: 3.1

#       - name: Install gems
#         run: |
#           echo 'gem: --no-document' >> ~/.gemrc

#       - name: Build gem and publish to github package
#         id: gemstep
#         run:  |
#           gem build hola-xuan.gemspec
#           gem push hola-xuan-0.1.4.gem
#         env:
#           GITHUB_SECRET_TOKEN: ${{ secrets.GH_PACKAGE_TOKEN }}

jobs:
  build:
    name: Build + Publish to Github Package
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    # If you configured a GitHub environment on RubyGems, you must use it here.
    # environment: release

    steps:
      # Set up
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ruby

      # Release
      - uses: rubygems/release-gem@v1