name: Test Reverse Lab Scan

on:
  workflow_dispatch:

jobs:
  # act -j publish_to_ruby_gem --container-architecture linux/arm64 --secret-file act.secrets
  publish_to_ruby_gem:
    name: Build + Release Gem to RubyGems
    runs-on: ubuntu-latest

    outputs:
      gem_version: ${{ steps.gemstep.outputs.gem_version }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby 3.1.0 and bundle
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Install gems
        run: |
          echo 'gem: --no-document' >> ~/.gemrc

      - name: Build gem and publish to github package
        id: gemstep
        run:  |
          mkdir ~/.gem
          echo -e "---\n:github: Bearer $GITHUB_SECRET_TOKEN" >> ~/.gem/credentials
          chmod 0600 ~/.gem/credentials
          gem build hola-xuan.gemspec
          echo "gem_version=`ruby -e 'require "./lib/version"; puts Hello::STRING'`" >> $GITHUB_OUTPUT
        env:
          GITHUB_SECRET_TOKEN: ${{ secrets.GH_PACKAGE_TOKEN }}

      - name: Print checksums (in case some debugging is needed)
        run: |
          echo "Gem version:       ${{ steps.gemstep.outputs.gem_version }}"

      - name: Upload to artifact
        uses: actions/upload-artifact@v4
        with:
          name: hola-xuan-${{ steps.gemstep.outputs.gem_version }}.gem
          path: hola-xuan-${{ steps.gemstep.outputs.gem_version }}.gem

  # extract the built layer from artifacts, then scan it with reverselab
  reverselab_scan_gem:
    needs:
      - publish_to_ruby_gem
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: extract layer zip from artifacts
        uses: actions/download-artifact@v4
        with:
          name: hola-xuan-${{ env.SOLARWINDS_APM_VERSION }}.gem
          path: ./
        env:
          SOLARWINDS_APM_VERSION: ${{needs.publish_to_ruby_gem.outputs.gem_version}}

      - name: Print checksums (in case some debugging is needed)
        run: |
          echo "Gem version:       ${{ env.SOLARWINDS_APM_VERSION }}"
          ls -al
        env:
          SOLARWINDS_APM_VERSION: ${{needs.publish_to_ruby_gem.outputs.gem_version}}

      - name: Scan build artifact on the Portal
        id: rl-scan
        uses: reversinglabs/gh-action-rl-scanner-cloud-only@v1
        with:
          artifact-to-scan: ./hola-xuan-${{ env.SOLARWINDS_APM_VERSION }}.gem
          rl-verbose: true
          rl-portal-server: solarwinds
          rl-portal-org: SolarWinds
          rl-portal-group: SaaS-Agents-SWO
          rl-package-url: solarwinds-apm-ruby/hola-xuan@${{ env.SOLARWINDS_APM_VERSION }}
        env:
          SOLARWINDS_APM_VERSION: ${{needs.publish_to_ruby_gem.outputs.gem_version}}

      - name: report the scan status
        if: success() || failure()
        run: |
          echo "The status is: '${{ steps.rl-scan.outputs.status }}'"
          echo "The description is: '${{ steps.rl-scan.outputs.description }}'"
